!!! 5
html
	head
		title
			| Test
	body
		input#dept_station(type='text')
		input#arrv_station(type='text')
		input#search_button(type='button', value='search')

		script(type='text/javascript', src='/library/jquery/jquery-1.8.3.min.js')
		script(type='text/javascript', src='/javascripts/time_table/time_table.js')
